<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>California</key>
	<dict>
		<key>StateCities</key>
		<array>
			<dict>
				<key>CityName</key>
				<string>Sacramento</string>
				<key>CityPopulation</key>
				<integer>486200</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Fresno</string>
				<key>CityPopulation</key>
				<integer>505479</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>San Francisco</string>
				<key>CityPopulation</key>
				<integer>815358</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>San Jose</string>
				<key>CityPopulation</key>
				<integer>1006892</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>San Diego</string>
				<key>CityPopulation</key>
				<integer>1359132</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Los Angeles</string>
				<key>CityPopulation</key>
				<integer>3833995</integer>
			</dict>
		</array>
		<key>StateName</key>
		<string>California</string>
	</dict>
	<key>Arkansas</key>
	<dict>
		<key>StateCities</key>
		<array>
			<dict>
				<key>CityName</key>
				<string>Jonesboro</string>
				<key>CityPopulation</key>
				<integer>66196</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Springdale</string>
				<key>CityPopulation</key>
				<integer>66881</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Fayetteville</string>
				<key>CityPopulation</key>
				<integer>73372</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Fort Smith</string>
				<key>CityPopulation</key>
				<integer>80268</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Little Rock</string>
				<key>CityPopulation</key>
				<integer>191930</integer>
			</dict>
		</array>
		<key>StateName</key>
		<string>Arkansas</string>
	</dict>
	<key>Arizona</key>
	<dict>
		<key>StateCities</key>
		<array>
			<dict>
				<key>CityName</key>
				<string>Chandler</string>
				<key>CityPopulation</key>
				<integer>247140</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Glendale</string>
				<key>CityPopulation</key>
				<integer>253152</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Mesa</string>
				<key>CityPopulation</key>
				<integer>463552</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Tuscon</string>
				<key>CityPopulation</key>
				<integer>541811</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Phoenix</string>
				<key>CityPopulation</key>
				<integer>1601587</integer>
			</dict>
		</array>
		<key>StateName</key>
		<string>Arizona</string>
	</dict>
	<key>Alaska</key>
	<dict>
		<key>StateCities</key>
		<array>
			<dict>
				<key>CityName</key>
				<string>Ketchikan</string>
				<key>CityPopulation</key>
				<integer>7368</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>College</string>
				<key>CityPopulation</key>
				<integer>13428</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Juneau</string>
				<key>CityPopulation</key>
				<integer>30988</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Fairbanks</string>
				<key>CityPopulation</key>
				<integer>35132</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Anchorage</string>
				<key>CityPopulation</key>
				<integer>286174</integer>
			</dict>
		</array>
		<key>StateName</key>
		<string>Alaska</string>
	</dict>
	<key>Alabama</key>
	<dict>
		<key>StateCities</key>
		<array>
			<dict>
				<key>CityName</key>
				<string>Tuscaloosa</string>
				<key>CityPopulation</key>
				<integer>93215</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Huntsville</string>
				<key>CityPopulation</key>
				<integer>176645</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Mobile</string>
				<key>CityPopulation</key>
				<integer>198915</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Montgomery</string>
				<key>CityPopulation</key>
				<integer>224119</integer>
			</dict>
			<dict>
				<key>CityName</key>
				<string>Birmingham</string>
				<key>CityPopulation</key>
				<integer>230650</integer>
			</dict>
		</array>
		<key>StateName</key>
		<string>Alabama</string>
	</dict>
</dict>
</plist>
